<launch>
  <arg name="model" default="$(find myrobot_description)/urdf/robot.xacro"/>
  <arg name="gui" default="true"/>
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)"/>
  <arg name="rvizconfig" default="$(find myrobot_description)/launch/urdf.rviz"/>
  
  <param name="use_gui" value="$(arg gui)"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
  
  <node name="rviz" pkg="rviz" args="-d $(arg rvizconfig)" type="rviz" required="true"/>
  <!-- <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model myrobot"/> -->
</launch>
